.vscode
*Zone.Identifier
*.DS_Store
\word2vec_models
\word2vec_models_v1
\word2vec_models_v2
\results
/TP_FINAL/data
/TP2/training_output
/TP2/saved_model
TP2/0.26.0'
TP_FINAL/resultados_analise_completa.csv
/TP_FINAL/saved_model
/TP_FINAL/training_output
